<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>迷你词典</string>
	<key>CFBundleIconFile</key>
	<string>interact.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.minidic</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>迷你词典</string>
	<key>LSBackgroundOnly</key>
	<string>NO</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>E</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>迷你词典 • 翻译选中内容</string>
			</dict>
			<key>NSMessage</key>
			<string>srvTranslate</string>
			<key>NSPortName</key>
			<string>迷你词典</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSServiceCategory</key>
				<string>public.text</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>P</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>迷你词典 • 查询选中单词</string>
			</dict>
			<key>NSMessage</key>
			<string>srvSearch</string>
			<key>NSPortName</key>
			<string>迷你词典</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSServiceCategory</key>
				<string>public.text</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
